/* Footer*/
.footerSpacer{
    position: relative;
}
.footer {
    background-color: #303434;
    height: 5.2rem;
}
.footer-head h4 {
    color: aliceblue;
    margin-top: 27px;
    font-family: 'DM Serif Display', serif;
}
Link{
    text-decoration: none;
}
.round {
    height: 2.6rem;
    width: 2.7rem;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.7rem;
    transition: all 0.3s ease-in-out;
    color: #c4bebe;
}

.round:hover {
    transform: scale(1.1);
    background-color: #f9004d;
    color: white;
}
.iconDiv {
    margin-top: 1.35rem;
}

.footerText p {
    margin-top: 1.7rem;
    font-family: 'Lora', serif;
}

/* Media Queries for Footer materials */
@media (max-width: 576px) {
    .footer-img img {
        width: 3.2rem;
        margin-top: 13%;
    }
}

/* Media query for screen sizes between 576px and 768px */
@media (min-width: 576px) and (max-width: 768px) {
    .footer-img img {
        width: 3.4rem;
    }
}

/* Media query for screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 992px) {
    .footer-img img {
        width: 3.6rem;
    }
}

/* Media query for screens between 992px and 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    .footer-img img {
        width: 3.8rem;
    }
}


@media (max-width: 576px) {
    .iconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 0%;
    }

    .round {
        height: 2.1rem;
        width: 2.1rem;
        border-radius: 50%;
        border: 1px solid black;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.7rem;
        transition: all 0.3s ease-in-out;
        color: #b66a6a;
    }
}

/* Media query for screen sizes between 576px and 768px */
@media (min-width: 576px) and (max-width: 768px) {
    .iconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 0%;

    }

    .round {
        height: 2.3rem;
        width: 2.4rem;
        border-radius: 50%;
        border: 1px solid black;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.7rem;
        transition: all 0.3s ease-in-out;
        color: #b66a6a;
    }
}

/* Media query for screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 992px) {
    .round {
        height: 2.5rem;
        width: 2.6rem;
        border-radius: 50%;
        border: 1px solid black;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.7rem;
        transition: all 0.3s ease-in-out;
        color: #b66a6a;
    }
}

/* Media query for screens between 992px and 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    .round {
        height: 2.6rem;
        width: 2.7rem;
        border-radius: 50%;
        border: 1px solid black;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.7rem;
        transition: all 0.3s ease-in-out;
        color: #b66a6a;
    }
}

.footerText p {
    font-weight: 800;
    font-size: 1rem;
}

@media (max-width: 576px) {
    .footerText p {
        font-size: 0.7rem;
    }

    .cards {
        display: flex;
        justify-content: center;
    }
}

/* Media query for screen sizes between 576px and 768px */
@media (min-width: 576px) and (max-width: 768px) {
    .footerText p {
        font-size: 0.8rem;
    }

    .cards {
        display: flex;
        justify-content: left;
    }

}

/* Media query for screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 992px) {
    .footerText p {
        font-size: 0.9rem;
    }
}

/* Media query for screens between 992px and 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    .footerText p {
        font-size: 1rem;
    }
}
